.App{
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.memo, .context, .lazy{
  margin: 2rem;
}

.memo{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.memo > * {
  margin: 1rem;
}

button {
  border-radius: 1px;
  border-color: grey;
  box-shadow: 2px 3px 5px black;
}


